#container-highcharts-graph {
	padding-top: 2em;
}

.container-circle-data {
	margin: 1em;
	padding: 2em 0;
	width: 60%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	align-content: space-between;

	.circle {
		height: 180px;
		width: 180px;
		border: 6px #333 solid;
		border-radius: 50%;
		margin: 7px auto;

		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		span {
			text-align: center;
			vertical-align: middle;
			font-family: 'Montserrat', sans-serif;
			width:100%;

			.circle__title {
				font-weight bold;
			}
		}
	}
}

.btn-custom {
	&.btn-custom--types {
		width: 180px;
	}
}

.filter-currency {
	.form-control {
		border-color: #333;
		display: inline-block;
		width: inherit;
	}
}

#filter_currency {
	margin-left: 5px;
}

#number-total-sum:before {
	content: '$';
	padding-right: 1px;
}